
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <div class="container"> 
        <img src="~/Content/Img/loi-404-1.png" style="height:100%;width:100%"/> 
    </div>
</body>
</html>
